<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>865278378745-vq2lg927mtmb58m49c43qs37qvva78fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865278378745-vq2lg927mtmb58m49c43qs37qvva78fn</string>
	<key>API_KEY</key>
	<string>AIzaSyDwa10NSev-2XIwVXw8CamW2Rip1Oa7Dbw</string>
	<key>GCM_SENDER_ID</key>
	<string>865278378745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swang20.Bus-Tracker</string>
	<key>PROJECT_ID</key>
	<string>bus-tracker-6a417</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-tracker-6a417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865278378745:ios:fbcebf427d22a029</string>
	<key>DATABASE_URL</key>
	<string>https://bus-tracker-6a417.firebaseio.com</string>
</dict>
</plist>
